<body>
    <h2 class="total"></h2>
<div   class="tiles">
    <div style="background-color: rgba(45, 52, 255, 0.419);" class="tile">
        <div class="num">
            <h1 class="enlarge"></h1>
            <h1>Borrowed</h1>
        </div>
    </div>
    <div style="background-color: rgba(100, 255, 57, 0.475);" class="tile">
        <div class="num">
            <h1 class="enlarge"></h1>
            <h1>Returned</h1>
        </div>
    </div>
    <div style="background-color: rgba(255, 57, 57, 0.475);" class="tile">
        <div class="num">
            <h1 class="enlarge"></h1>
            <h1>Pending</h1>
        </div>
    </div>
</div>
<h2 class="heading" id="history">History</h2>
<div class="container">
    <div class="images"></div>
        <div class="product">
            <h2></h2>
            <h1></h1>
            <p class="desc"></p>
            <h4 style="color: #ffffff"></h4>
            <h4 style="color: #ffffff"></h4>
            <h4 style="color: #ffffff"></h4>
        </div>
        <div style="position: absolute;"class="buttons">
            <button class="add">Return</button>
        </div>
</div>
</body>
<app-admin-dashboard></app-admin-dashboard>
