<div class="container">
    <div>
        <form [formGroup]="updateForm" (ngSubmit)="updateUser()">	
            <h3 class="head">Edit Personal Information</h3>
            <div class="grid">
                <div>
                    <div>
                        <label>First Name:</label>
                        <input type="text" name="firstname" formControlName="firstname" [placeholder]="profile.firstname || 'First Name'">
                    </div>
                </div>
                <div>
                    <div>
                        <label>Last Name:</label>
                        <input type="text" name="lastname" formControlName="lastname" [placeholder]="profile.lastname || 'Last Name'">
                    </div>
                </div>
            </div>

            <div class="grid">
                <div>
                    <div>
                        <label>Email Address:</label>
                        <input type="email" name="email" formControlName="email" [placeholder]="profile.email || 'Email Address'">
                    </div>
                </div>
                <div>
                    <div>
                        <label>Mobile Number:</label>
                        <input type="tel" name="phone" formControlName="phone" [placeholder]="profile.phone || 'Mobile Number'">
                    </div>
                </div>
            </div>

            <div class="grid">
                <div>
                    <div>
                        <label>Address:</label>
                        <textarea class="addressbar" style="background-color: rgba(255, 255, 255, 0.07)" type="text" formControlName="address" [placeholder]="profile.address || 'Address'"></textarea>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Date Of Birth:</label>
                        <input type="date" formControlName="DOB" [value]="profile.DOB">
                    </div>
                </div>
            </div>
            
            <div>
                <div>
                    <div>
                        <button type="submit">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<app-admin-dashboard></app-admin-dashboard>

