*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.dashboard {
    height: 100%;
    width: 32vh;
    display: block;
    background-color: rgba(255, 255, 255, 0.13);
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 7%;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

.dashboard * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.dashboard h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin-top: 12vh;
    text-align: center;
}

.nav-menu li {
    margin-top: 3rem;
}

.nav-menu a {
    display: block;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    transition: color 0.3s;
    padding: 0.9rem;
}

.nav-menu a:hover {
    color: #23a2f6;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease;

	&:hover {
		transform: translateY(-5px);
	}
}

  .nav-menu li.active a {
    color: #23a2f6;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease;

	&:hover {
		transform: translateY(-5px);
	}
  }
  

.logout {
    position: absolute;
    bottom: 2rem; 
    left: 0;
    right:0;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.logout:hover {
    color: #23a2f6;
}

.profile {
    position: absolute;
    bottom: 4rem; 
    left: 0;
    right:0;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.profile:hover {
    color: #23a2f6;
}

.user {
    position: absolute;
    top: 15px;
    right: 15px; 
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    white-space: nowrap; 
}


.transaction-dropdown {
    position: relative;
    cursor: pointer;
}

.transaction-options {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(-20px); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s; 
    opacity: 0;
}

.transaction-dropdown:hover .transaction-options {
    display: block;
    opacity: 1; /* Show with opacity */
    transform: translateY(0);
}

.alert {
    border: 1px outset #29b6f6;
    border-left-width: 5px;
    box-shadow: 0 4px 10px #0004, 0 2px 20px #0008;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin: 15px 0;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(45deg, #ffffff2f, #ffffff10);
    transition-property: opacity, transform;
    transition: 0.5s ease-in;
}

.alert>.icon {
    min-width: 40px;
    min-height: 40px;
    background-color: #29b6f6;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.alert>.icon>* {
    line-height: 40px;
}

.alert.close {
    opacity: 0;
    transform: translateY(40px);
}

.alert>.text {
    width: 100%;
    padding: 0 15px;
    color: #fff;
}

.alert>.text p{
    margin: 5px 0;
    font-size: 14px;
}

.alert>.close{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.alert>.close:hover{
    color: red;
}

.note{
    position: absolute;
    display: block;
    top: 3rem;
    right: 15px; 
    color: #ffffff;
    padding: 10px;
    white-space: nowrap; 
}

i{
    width: 10px;
}

