<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="dashboard">
        <h3> Dashboard</h3>
        <ul class="nav-menu">
            <li><a>Home</a></li>
            <li><a href="#">Return Books</a></li>
            <li><a href="#">Borrowed Books</a></li>
            <li><a href="#">Borrow History</a></li>
        </ul>
        
        <a class="logout" routerLink="/login"><mat-icon>logout</mat-icon>Log out</a>
    </div>
</body>
</html>

