
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <div class="dashboard">
        <h3>Library</h3>
        <ul class="nav-menu">
            <li routerLinkActive="active"><a routerLink="/client/home">Dashboard</a></li>
            <li routerLinkActive="active"><a routerLink="/client/borrow">Books</a></li>
            <li routerLinkActive="active"><a routerLink="/client/history">Current Borrows</a></li>
        </ul>
        <div>
            <a class="profile" routerLink="/client/profile">Edit Profile</a>
            <a class="logout" routerLink="/login">Log out</a>
        </div>
    </div>
    <div class="user">
        <p>Hi {{name}}</p>
    </div>


